input
  display: block
  padding: 0px
  border: none
  width: $component-size * 2
  height: $component-size
  line-height: $component-size
  text-align: center
  color: $gray-60
  background: transparent
.under_border
  border-bottom: $border-s2 solid $gray-20
#top, #bottom
  margin: 0 auto
#bottom
  border-bottom: 0
  border-top: 2px solid $gray-20 