/***************
 *  navigation *
 ***************/
%logo_size
  width: $side-bar
  height: $side-bar
nav.g_navigation
  overflow: hidden
  width: $side-bar
  height: 100%
  border-right: $border-s2 solid $gray-20
  background-color: $gray-14 

#g_logo_container
  @extend %logo_size
  margin: $gap-10 0
.logo_link
  //padding: 0 4px