!!! 5
%html(lang='en')
  %head
    %meta{:charset => 'utf-8'}
    %title De Guide System
    %link{:rel => 'stylesheet', :href => 'css/ui.css'}
  %body
    = add_fragment @appNav    
    = add_fragment @appForm
    %script(src='js/libs/CSInterface.js')
    %script(src='js/libs/Vulcan.js')
    %script(src='js/libs/jquery.js')
    %script(src='js/core.js')
    %script(src='js/ui.js')
    %script(src='js/theme.js')    
    %script(src='js/main.js')
  