-# the top most wrapper
.de-panel
  / the value control area
  .main-contents.row
    %form
      - for j in (1..2) do
        - id = @colLeftID
        - icons = @colLeftIcons
        - if j == 2
          - id = @colRightID
          - icons = @colRightIcons
        
        - column = j % 2 == 0 ? 'col-right' : 'col-left'
        / ==== column ====
        %div{:class => [column, 'columns']}
          -# to --> i is input field id and placeholder index
          - i = 0
          - for name in id do
            .field-flex-box
              -# icon 
              .icon-wrapper
                %a{:href => '#', :class => ['icon', 'distrubute']}
                  = icons[i]
              -# value field
              .value-wrapper
                - hints = name
                - hints = 'margin' if i > 1 and i < 4
                - hints = "gutter" if i == 4
                %input{:id => name, :class => 'valueField',:type => 'text', :autocomplete => 'off', :placeholder => hints}
            - i += 1
        
  %div(id = "gen-btn" class= "row")
  .quick-setting.row
    %ul
      - qico = 0
      - for name in @quickGuideID do
        %li{:class => ['icon-vert-align', 'icon-horz-align']}
          %a{:class => 'icon', :id => name}
            = @quickGuideIcons[qico]
            - qico += 1