%main(id="form_container")
  .value_columns.value_layout
    %ul
      -for type, angle in @icon_for_form
        %li(class="value_list")
          .icon_value_layout
            %div(class="guide_icon")
              =get_icon_for_form type, angle
            %input(class="guide_value" name="guide_value" type="text" autocomplete="off" placeholder="#{type}")    
  .trigger.margin_layout.value_columns
    .left.margin
      %input(id="top" class="under_border" name="guide_value" type="text" autocomplete="off" placeholder="top")
    .left_right_layout.margin
      .left
        %input(id="left" class="under_border" name="guide_value" type="text" autocomplete="off" placeholder="left")        
      .gen_btn
        = hexgon(112, 116, "gen_hexgon_frame", "gen_hexgon")
        %span(class="text_on_btn") RUN        
      .right
        %input(id="right" class="under_border" name="guide_value" type="text" autocomplete="off" placeholder="right")          
    .bottom.margin
      %input(id="bottom" class="under_border" name="guide_value" type="text" autocomplete="off" placeholder="bottom")    
  .clear_button_layout
    .clear_btn.hexgon_frame
      = hexgon(50,50, "clear_hexgon_frame", "clear_hexgon")
      %span(class="text_on_btn") clear
    .strip