%nav(class="g_navigation side_bar")
  %div(id="g_logo_container")
    %a(class="logo_link" href="#")
      %svg{:version => '1.1', :baseProfile => 'full', 'viewBox' => '0,0,48,48',
      :width => '38', :height => '38', :xmlns => 'http://www.w3.org/2000/svg'}
        %g{:id => 'center_svgs', :transform => 'translate(4, 5)'}
          %g{:class => "lines_container"}
            -for coords in @logo_border_lines
              %path{:class => 'lines', :d => "#{coords}"}
            %g{:class => "draw_from_center"}
              -for coords in @logo_center_lines
                %path{:class => 'center_lines', :d => "#{coords}"}

          %g{:id => 'shrink_logo', :transform => 'translate(3, 3)'}
            %polygon{:id => 'logo_hexgon_frame', 'stroke-width' => '2', :points => '8 0, 25 0, 33 15, 25 30, 8 30, 0 15'}
            %text{:id => 'logo_text',:x => '8', :y => '22'} G
  %div(class="menu_container")
    %ul
      - 3.times do
        %li(class="menu_item divide")
          %a(class="switch_panel" href="#")
  %div(id="guide_tool" class="menu_container")
    %ul
      - for position, angle in @quick_border do
        %li(class="set_guide menu_item")
          %a(class="one_click_border switch_panel")
            %div{:class => "svg_container"}
              =icon_for_toolSet_border position, angle

      - for direction, setIcon in @quick_center do
        %li(class="set_guide menu_item")
          %a(class="one_click_border switch_panel")
            %div{:class => "svg_container"}
              =icon_for_toolSet_center direction, setIcon