%nav(class="g_navigation side_bar")
  %div(id="g_logo_container")
    %a(class="logo_link" href="#")
      %svg{:version => '1.1', :baseProfile => 'full', 'viewBox' => '0,0,42.5,37.5',
      :width => '34', :height => '30', :xmlns => 'http://www.w3.org/2000/svg'}
        %polygon{:id => 'logo_hexgon_frame', 'stroke-width' => '2', :points => '8 1, 25 1, 33 15, 25 29, 8 29, 1 15'}
        %text{:id => 'logo_text',:x => '8', :y => '22'} G
